<div class="schedules">
  <div class="schedule">
    <div class="daily-schedule-title">
      <%= "#{@care_user.name}さん　本日のケア一覧" %>
    </div>
    <%= render partial: 'care_content', collection: @schedules, as: "schedule" %>
    <div class="new_button">
    <%= link_to '実施内容を追加する', new_care_user_schedule_path(@care_user) %>
    </div>
  </div>
</div>
