<div class="side-bar-header">
  <div class="header-name">
    <a href="#">渡辺</a>
  </div>
</div>

<div class="side-bar-main">
  <div class="create-care_user">
    <a href="#">＋　新規利用者登録</a>
  </div>

  <div class="care_user">
  <a href="#">利用者１</a>
  </div>
</div>

