<div class="side-bar-header">
  <div class="header-name">
    <%= current_user.username %>さんログイン中
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
  </div>
</div>

<div class="side-bar-main">
  <div class="create-care_user">
    <a href="#">＋　新規利用者登録</a>
  </div>

  <div class="care_user">
    <% @care_users.each do |care_user|%>
      <%= link_to "#{care_user.name}さん", care_user_schedules_path(care_user) %></a>
    <% end %>
  </div>
    <%= link_to "この利用者情報を削除する", care_user_path(@care_user), method: :delete %>
</div>

