<div class="side-bar-header">
  <div class="header-name">
    渡辺
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
  </div>
</div>

<div class="side-bar-main">
  <div class="create-care_user">
    <a href="#">＋　新規利用者登録</a>
  </div>

  <div class="care_user">
  <a href="#">利用者１</a>
  </div>
</div>

