<div class="new-schedules">
  <div class="new-schedule">

  <h2>新規投稿</h2>

    <div class="contents">
      <div class="headline">
      実施時刻
      </div>
    <input type="time" class="time" name="time">
    </div>

    <div class="contents">
      <div class="headline">
      実施したこと
      </div>
      <input type="text" class="form-text" name="new", placeholder= "入力してください">
    </div>

    <div class="contents">
      <div class="headline">
      詳細
      </div>
      <textarea class="form-textarea"></textarea>
    </div>

    <div class="contents">
      <div class="headline">
        写真
      </div>
      <%# f.file_field :images, name: 'message[images][]', id: 'message_image' %>
    </div>

    <div class="new_button">
      <a href="#">入力内容を保存</a>
    </div>

  </div>
</div>