<div class="new-schedules">
  <div class="new-schedule">
    <div class="daily-schedule-title">
      <%= "#{@care_user.name}さん　過去一ヶ月のケア一覧" %>
    </div>
    <%= render partial: 'past_content', collection: @past_schedules, as: "schedule" %>
  </div>
</div>