<div class="new-schedules">
  <div class="new-schedule">

  <div class="contents">
    <h3>実施時刻　"実施したこと"</h3>
  </div>

  <div class="contents">
      <div class="show-content">
      サンプル 担当者表示させる
      </div>
  </div>

    <div class="contents">
      <div class="headline">
        写真
      </div>
      <%# f.file_field :images, name: 'message[images][]', id: 'message_image' %>
    </div>

    <div class="contents">
      <div class="headline">
        コメント
      </div>
      
    </div>
  </div>
</div>