<div class="care_user-new-top">
  <div class="care_user-new-main">
    <div class="care_user-new-title">
      新規利用者登録
    </div>
    
    利用者さんご本人のお名前を入力してください
    <%= form_with model: @care_user, local: true do |f| %>
      <div class="form-input-care_user">
        <%= f.text_field :name, placeholder: '例）山田' %>
        <%= f.submit "登録", class: 'btn1' %>
      </div>
    <% end %>
  </div>
</div>