<div class="schedules">
  <div class="schedule">
    <div class="daily-schedule-title">
      新規利用者登録
    </div>
    
    利用者さんご本人のお名前を<br>
    入力してください

    <hr class="ex">
    <div class="new_button">
    <a href="#">登録</a>
    </div>
  </div>
</div>