.wrapper {
  display: flex;
}

/* サイドバー上部 */

.side-bar {
  background-color: #BEEBE9;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  background-color: #f6eec7;
  height: 150px;
  padding: 20px;
}

.header-name {
  display: block;
  font-size: 17px;
  color: #c1ab05;
  text-decoration: none;
  margin: 5px;
}

.logout,
a.logout {
  display: block;
  border: 2px solid #998700;
  font-size: 18px;
  margin: 17px auto auto;
  padding: 13px;
  color: #fff;
  background-color: #ccb400;
  width: 50%;
  text-decoration: none;
  border-radius: 15px;
}

.logout:hover,
a.logout:hover {
  color: #fff;
  background-color: #e6cb00;
}

/* サイドバーメイン */

.side-bar-main{
  background-color: #BEEBE9;
  font-size: 14px;
  height: calc(100vh - 100px);
  padding: 40px;
  overflow: scroll;
}

.create-care_user a{
  display: block;
  border: 1px solid #eb6ea0;
  margin: 10px auto 40px;
  padding: 10px;
  font-size: 20px;
  width: 230px;
  color: #dc6b9a;
  text-decoration: none;
  border-radius: 10px;
}

.create-care_user:hover a{
  color: #FFF;
  background-color: #eb6ea0;
  text-decoration: none;
}

.care_user a{
  display: block;
  background-color: #fef9fb;
  width: 230px;
  margin: 20px auto 30px;
  padding: 10px;
  font-size: 20px;
  color: #4e454a;
  text-decoration: none;
  border-radius: 10px;
}

.care_user:hover a{
  color: #FFF;
  background-color: #ffb6b9;
  text-decoration: none;
}

.care_user_index a{
  display: block;
  background-color: #ffb6b9;
  width: 230px;
  margin: 20px auto 30px;
  padding: 10px;
  font-size: 20px;
  color: #4e454a;
  text-decoration: none;
  border-radius: 10px;
}

.care_user_index:hover a{
  color: #FFF;
  background-color: #ffcccc;
  text-decoration: none;
}

.care_user_delete a{
  color: #ff9999;
  display: block;
  background-color: #fef9fb;
  width: 230px;
  margin: 60px auto 30px;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 10px;
}

.care_user_delete:hover a{
  color: #FFF;
  background-color: #ff3333;
  text-decoration: none;
}

.care_user_back a{
  display: block;
  background-color: #ffcccc;
  width: 230px;
  margin: 20px auto 30px;
  padding: 10px;
  font-size: 20px;
  color: #2e7599;
  text-decoration: none;
  border-radius: 10px;
}

.care_user_back:hover a{
  color: #FFF;
  background-color: #ffcccc;
  text-decoration: none;
}

/* スケジュール一覧画面 */

.schedules {
  background-color: #F4DADA;
  width: calc(100% - 300px);
  height: calc(100vh + 50px);
  display: inline-block;
  text-align:center;
  position: relative;
  overflow: scroll;
}

.schedule {
  background-color: #fef9fb;
  position: absolute;
  top: 0;
	left: 0;
  right: 0;
  bottom: 0;
  margin: 80px auto;
  width: 800px;
  height: 100%;
  text-align:center;
  padding: 40px 50px;
  border-radius: 30px;
}

.daily-schedule-title {
  font-size: 35px;
  color: #4e454a;
  padding: 1rem 2rem;
  background: #ffb6b9;
  border-radius: 20px;
}

.daily-schedule {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 35px;
  padding: 30px 5px 0;
}

.daily-schedule-times {
  color: #4e454a;
}

.daily-schedule-content a{
  color: #5252cc;
  text-decoration: none;
}

.daily-schedule-staff {
  font-size: 25px;
}

.daily-schedule-border {
  border-bottom: ２px solid #000;
}

hr.ex {
  height: 2px;
  width: 100%;
  border: none;
  border-top: 2px #000000 dotted;
  }

.new_button a{
  font-size: 22px;
  color: #fff;
  width: 40%;
  padding: 20px;
  background: #ff8080;
  border-radius: 40px;
  margin: 40px auto;
  text-decoration: none;
  display:block;
}

.new_button:hover a{
  color: #fff;
  background: #ffcccc;
} 

input[type="submit"] {
  font-size: 22px;
  width: 250px;
  padding: 5px;
  width: 30%;
  padding: 20px;
  color: #fff;
  background: #ff8080;
  border-radius: 30px;
  overflow: hidden;
  border-style: none;
}

input[type="submit"]:hover {
  color: #fff;
  background: #ffcccc;
}

/* 新規投稿画面 */

h2 {
  font-size: 35px;
  color: #4e454a;
  letter-spacing: 10px;
  position: relative;
  padding: 1rem 1rem;
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
  background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.new-schedules {
  background-color: #F4DADA;
  width: 100vw;
  height: 100vh;
  display: inline-block;
  text-align:center;
  position: relative;
  overflow: scroll;
}

.new-schedule {
  background-color: #fef9fb;
  position: absolute;
  top: 0;
	left: 0;
  right: 0;
  bottom: 0;
  margin: 80px auto;
  width: 900px;
  height: 950px;
  text-align:center;
  padding: 20px 50px;
  border-radius: 30px;
  overflow: scroll;
}

.contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
}

.contents1 {
  display: flex;
  width: 10%;
  justify-content: space-between;
  margin: 40px;
}

.headline {
  color: #4e454a;
  font-size: 25px;
}

.headline1 {
  color: #4e454a;
  font-size: 25px; 
}

.form-input {
  width: 480px;
  border-radius: 15px;
  overflow: hidden;
}

.form-text {
  font-size: 20px;
  border: 2px solid #ffb6b9;
  border-radius: 15px;
  height: 70px;
  width: 480px;
  padding-left: 10px;
}

.form-text:focus {
  border-color: #56a9ff;
  outline: 0;
}

.form-text#new {
  font-size: 20px;
  border: 2px solid #ffb6b9;
  background-color: #fff;
  border-radius: 15px;
  height: 70px;
  width: 480px;
  padding-left: 10px;
}

.form-textarea {
  font-size: 18px;
  padding: 0.5em;
  border: 2px solid #ffb6b9;
  border-radius: 15px;
  height: 300px;
  width: 480px;
  resize: none;
  padding-left: 10px;
}

textarea:focus {
  border-color: #56a9ff;
  outline: 0;
}

.time {
  width: 480px;
  font-size: 18px;
  padding: 0.5em;
  border: 2px solid #ffb6b9;
  border-radius: 15px;
}

.time:focus {
  border-color: #56a9ff;
  outline: 0;
}

.file-upload {
  padding: 40px 30px;
}

.image_form {
  display: inline-block;
  padding: 20px;
}

/* 詳細画面 */

.content_show {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 40px;
}

h3 {
  font-size: 30px;
  color: #4e454a;
  letter-spacing: 10px;
  position: relative;
  padding: 1.5rem 1rem;
}

h3:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
  background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.show-content {
  background-color: #fff;
  font-size: 22px;
  width: 700px;
  height: 400px;
  border: 4px solid #ffb6b9;
  border-radius: 15px;
  margin: 5px auto;
  padding: 15px;
  text-align: left;
  white-space: pre-wrap;
}

.img-content {
  padding: 5px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.edits {
  display: flex;
  justify-content: flex-end;
  width: 700px;
  margin: 0 50px;
}

.show_user {
  display: inline-block;
  font-size: 23px;
  padding: 15px 10px 0;
}

.show_button a{
  display: inline-block;
  background-color: #8080ff;
  width: 80px;
  margin: 5px 15px;
  padding: 8px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.show_button:hover a{
  color: #FFF;
  background-color: #ffcccc;
  text-decoration: none;
}

/* 編集完了画面 */

h4 {
  font-size: 22px;
  padding: 60px 0 30px;
}

input[type="submit"]#edit {
  font-size: 20px;
  width: 250px;
  margin: 10px 0 50px;
  padding: 15px;
  color: #fff;
  background: #ff8080;
  border-radius: 15px;
  overflow: hidden;
  border-style: none;
}

input[type="submit"]#edit:hover {
  color: #fff;
  background: #ffcccc;
}

::marker {
  color: #fef9fb;
}

/* 過去の投稿表示画面 */

.daily-schedule-times-past {
  font-size: 23px;
  color: #4e454a;
}

.daily-schedule-content a{
  font-size: 30px;
  color: #5252cc;
  text-decoration: none;
}